body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 40px;
    background-image: url("./Img/forest.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Grape Nuts', cursive;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
}
/**********index**************/
.introduction{
    margin-top: 50px;
    width: 310px;
    height: 350px;
    background-image: url("./Img/wood.jpeg");
    box-shadow:  0 0 10px #000, 0 0 20px #000, 0 0 40px #000,
    0 0 80px #000;
    padding: 10px;
}
.introduction p {
    margin-left: 10px;
    font-size: 20px;
    color: red;
}
.indexbuttons{
  margin-top:100px ;
  display: flex;
  justify-content: center;
}
@media screen and (max-height:800px) {
    .indexbuttons{
        margin-top:50px ;
        display: flex;
        justify-content: center;
    }
  }
.indexbuttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 169, 169);
    font-size: 20px;
    width: 150px;
    height: 50px;
    box-shadow: 0  0 50px #000;
    color: #000;
}
/**********trailer**************/
.vediocontainer{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.trailerbuttons{
    margin-top:100px ;
    display: flex;
    justify-content: center;
}
.trailerbuttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 169, 169);
    font-size: 20px;
    width: 150px;
    height: 50px;
    box-shadow: 0  0 50px #000;
    color: #000;
}