@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700');
body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 40px;
    background-image: url("./Img/forest.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Grape Nuts', cursive;
    filter: url('#filter');
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 80px;
}
/**********index**************/
.introduction{
    font-family: 'Amatic SC', sans-serif;
    margin-top: 50px;
    width: 310px;
    height: 350px;
    background-image: url("./Img/wood.jpeg");
    box-shadow:  0 0 10px #000, 0 0 20px #000, 0 0 40px #000,
    0 0 80px #000;
    padding: 0 10px;
    overflow:hidden; 
}
.liquid {
    width: 120%;
    height: 10px;
    position: absolute;
    top: -2%;
    left: -10%;
    background: rgb(173, 52, 52);
    border-radius: 10%;
    animation: liquid 5s forwards;
  }
  
  .blobs {
    filter: url("#goo");
    width: 100%;
    height: 15px;
    position: relative;
  }
  .blobs .blob {
    width: 30px;
    height: 30px;
    margin: 0 5px 0px 0;
    background: rgb(173, 52, 52);
    border-radius: 50%;
    position: absolute;
    top: 0;
    animation: drip_one 5s forwards;
  }
  .blobs .blob:nth-child(1) {
    left: -14%;
  }
  .blobs .blob:nth-child(2) {
    left: -1%;
  }
  .blobs .blob:nth-child(3) {
    left: 12%;
  }
  .blobs .blob:nth-child(4) {
    left: 25%;
  }
  .blobs .blob:nth-child(5) {
    left: 38%;
  }
  .blobs .blob:nth-child(6) {
    left: 51%;
  }
  .blobs .blob:nth-child(7) {
    left: 64%;
  }
  .blobs .blob:nth-child(8) {
    left: 77%;
  }
  .blobs .blob:nth-child(9) {
    left: 90%;
  }
  .blobs .blob:nth-child(10) {
    left: 15%;
  }
  .blobs .blob:nth-child(11) {
    left: 30%;
  }
  .blobs .blob:nth-child(12) {
    left: 70%;
  }
  .blobs .blob:nth-of-type(1) {
    width: 65px;
    animation: drip_four 5s forwards;
  }
  .blobs .blob:nth-of-type(3n-2) {
    width: 26px;
    animation: drip_five 4s forwards;
  }
  .blobs .blob:nth-of-type(8) {
    animation: flowone 2s infinite ease-in;
  }
  .blobs .blob:nth-of-type(4n+2) {
    height: 56px;
    animation: drip_two 3s forwards;
  }
  .blobs .blob:nth-of-type(6n-2) {
    height: 39px;
    animation: drip_three 5s forwards;
  }
  .blobs .blob:nth-of-type(2) {
    width: 22px;
    animation: flowtwo 3s infinite ease-in-out;
  }
  @keyframes flowone{
      from{
          top: 0;
      }
      to{
          top: 350px;
      }
  }
  @keyframes flowtwo{
    from{
        top: 0;
    }
    to{
        top: 350px;
    }
}
  @keyframes drip_one {
    from {
      top: 0;
    }
    to {
      top: 100%;
    }
  }
  @keyframes drip_two {
    from {
      top: 0;
    }
    to {
      top: 98%;

    }
  }
  @keyframes drip_three {
    from {
      top: 0;
      height: 52px;
    }
    to {
      height: 100px;
    }
  }
  @keyframes drip_four {
    from {
      top: 0;
      width: 65px;
      height: 30px;
    }
    to {
      width: 75px;
      height: 45px;
    }
  }
  @keyframes drip_five {
    from {
      top: 0;
      height: 30px;
    }
    to {
      height: 72px;
    }
  }
  @keyframes liquid {
    from {
      height: 15px;
    }
    to {
      height: 209%;
    }
  }

.smalltitle{
    font-size: 25px;
    color: white;
    -webkit-animation: squiggly-anim 0.34s linear infinite;
    animation: squiggly-anim 0.7s linear infinite;
}
@-webkit-keyframes squiggly-anim {
    0% {
      filter: url("#squiggly-0");
    }
    25% {
      filter: url("#squiggly-1");
    }
    50% {
      filter: url("#squiggly-2");
    }
    75% {
      filter: url("#squiggly-3");
    }
    100% {
      filter: url("#squiggly-4");
    }
  }
@keyframes squiggly-anim {
    0% {
      filter: url("#squiggly-0");
    }
    25% {
      filter: url("#squiggly-1");
    }
    50% {
      filter: url("#squiggly-2");
    }
    75% {
      filter: url("#squiggly-3");
    }
    100% {
      filter: url("#squiggly-4");
    }
  }
.titlecontainer {
    margin-left: 10px;
    font-size: 20px;
    color: #ffd200;
    text-shadow: 0 0 0 whitesmoke;
}
.indexbuttons{
  margin-top:50px ;
  display: flex;
  justify-content: center;
}
@media screen and (max-height:800px) {
    .indexbuttons{
        margin-top:50px ;
        display: flex;
        justify-content: center;
    }
  }
.indexbuttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 169, 169);
    font-size: 20px;
    width: 150px;
    height: 50px;
    box-shadow: 0  0 50px #000;
    color: #000;
}
/**********trailer**************/
.vediocontainer{
    margin-top: 150px;
    display: flex;
    justify-content: center;
}
.trailerbuttons{
    margin-top:100px ;
    display: flex;
    justify-content: center;
}
.trailerbuttons a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(169, 169, 169);
    font-size: 20px;
    width: 150px;
    height: 50px;
    box-shadow: 0  0 50px #000;
    color: #000;
}